body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    
    color: white;
}
html{
    background-color:rgba(35, 102, 109, 0.345);
}
h2{
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 2.5rem;
    color: rgba(35, 101, 109, 0.99);
}
.jogo{
    margin-top: 2rem;
    background-color: rgba(35, 102, 109, 0.345);
    padding: 2rem;
    border-radius: 50rem;
}
#chute{
    border: none;
    border-radius: 2rem;
    height: 1.5rem;
  
}
#button{
    border: none;
    border-radius: 0.5rem;
    height: 2rem;
}
#button:hover{
    background-color: blueviolet;
    cursor: pointer;
    transition: 0.5s;
    color: white;
}
.nome{
    text-decoration: none;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: white;
    font-size: 1.5rem;
    margin-top: 2rem;
}
.nome:hover{
    text-decoration:underline;
}
